<footer id="footer">
    <div class="inner">

        <h2>Datos Perosonales</h2>

        <div class="fila">
            <!--Formulario-->
            <div class="col">
                <input type="text" placeholder="Ingrid Alejandra Julajuj Gomez">
                <input type="text" placeholder="2290-20-10758">
            </div>
        </div>

        <div class="copyright">
            &copy;Examen Final</a>.
        </div>

    </div>
</footer>