 <nav id="nav">
                <ul>
                    <li><a href="#Inicio" onclick="seleccionar()">INICIO</a></li>
                    <li><a href="#pastor_aleman" onclick="seleccionar()">Pastor Aleman</a></li>
                    <li><a href="#chihuahua" onclick="seleccionar()">Chihuahua</a></li>
                </ul>
            </nav>

        <!-- <li><a href="#Inicio" class="#">INICIO</a></li>
                    <li><a href="#sobremi" class="nav-link">SOBRE MI</a></li>
                    <li><a href="#skills" class="nav-link">HABILIDADES</a></li>
                    <li><a href="#Curriculum" class="nav-link>CURRICULUM</a></li>
                    <li><a href="#portfolio" class="nav-link>PORTAFOLIO</a></li>
                    <li><a href="#contacto" class="nav-link>CONTACTO</a></li>->