<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chihuahuas</title>
</head>
<body>
    <!--Seccion chihuahus-->
    <section class="chihuahua" id="chihuahua">
        <div class="contenido-seccion">
              <h1><u>Chihuahua</u></h1>
   <p>El chihuahua1​, también conocido como chihuahueño2​, es una raza de perro originaria de México, una de las razas de perros más antiguas del continente americano, además de ser el perro más pequeño del mundo.

El chihuahua es originario del estado de Chihuahua. Sin embargo, a diferencia de lo que muchos creen, no es la razón de su nombre, ya que en la lengua del pueblo rarámuri significa 'lugar árido y arenoso'. 
El nombre original de este ejemplar es chihuahueño y su variación se debió a la manipulación en Estados Unidos para referirse a la raza.</p>
<p>Las investigaciones genéticas han demostrado que los chihuahuas actuales son el resultado del cruce con perros europeos,9​ pero además han descubierto que uno de los haplotipos de ADN mitocondrial que presentan ahora los chihuahuas es exclusivo de su raza y fue también detectado en perros precolombinos de México.
    ​ Entonces, posiblemente sean el resultado del cruce del antiguo techichi con perros miniatura europeos.

Una teoría anterior afirmaba que los antepasados del chihuahua simplemente vivían en estado silvestre en el estado mexicano de Chihuahua y fueron domesticados por las personas de la región11​ hasta llegar por el comercio a prácticamente todo el México precolombino.

En el Códice Florentino se mencionan cuatro tipos de perros distintos: El chichi itzcuintle, Tehui, Xolo itzcuintle y el Talchichi. Este último es el más parecido y podría tratarse del ancestro puro del chihuahua moderno.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hjVEXmigBns?si=-D6Xh18AKHlrRA_v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            </div>
    </section>
</body>
</html>