<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastor Aleman</title>
</head>
<body>
     <!--Sobre mi-->
    <section id="pastor_aleman" class="pastor_aleman">
        <div class="contenido-seccion">
            <h2>Pastor Aleman</h2>
            <p><span>Sus orígenes se remontan a finales del siglo xix, cuando en Alemania se inició un programa de crianza para guarda 
                y protección de los rebaños de carneros en contra de los lobos. El capitán de caballería del ejército alemán, Maximilian von Stephanitz, 
                es considerado el padre de la raza. Más tarde, tras la aparición de la Asociación de Amigos del Pastor Alemán en 1899, se inició una selección de ejemplares cuyos cruces mejoraron tanto el aspecto psíquico como físico del animal.</p>

        <div class="fila">
            <!--datos personales-->
            <div class="col">
           <table border="1">
         <tr>
             <th>Pastor Aleman</th>

         </tr>
   
<tr>
    <td>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zqkLAKGDnkA?si=ANT7uc_giiZyDIia" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
           </td>
        </td>
</tr>
         <tr>
             <td>
                
                <p><h2>Caracteristicas</h2></p>
                <p>
                    Sus medidas hasta la cruz varían entre los 15 y 25 centímetros aunque algunos pueden alcanzar los 30. Además, suelen pesar entre 1,5 y 4 kg. 
                    Para que puedas hacerte una idea de cómo es, a continuación vamos a exponer las características del chihuahua más destacadas y comunes:
                <p>Los ojos del perro chihuahua son grandes y muy redondos.</p>
                        <br>
               <p> Su cráneo es abombado y, de hecho, algunas zonas de la parte superior de su cabeza pueden ser blandas porque los huesos no han acabado de unirse.</p>
               <br>
               <p>Los chihuahuas cuentan con una cola larga y con proyección alta en la espalda.</p>
               <br>
                <p>Es una raza de perro que tiene las orejas grandes y erguidas.</p>
                </p>
                </td>
         </tr>
          </table>
            </div>

</body>
</html>